# Meranie povrchového napätia a dynamickej viskozity kvapalín a plynov 
Dátum merania: 1.11. -15.11.
Vypracovali: Šimon Nemčič, Filip Žitný, Rebecca Kozmová

## 1 Pracovné úlohy

## 1 D.Ú. : Odvoďte vzťah  pre závislosť hustoty látky ρϑ ako funkciu teploty ϑ.
$ρϑ = {ρ^0}/ {1 + β(ϑ − ϑ0)}$

Kde parameter β predstavuje súčiniteľ objemovej rozťažnosti a veličina ρ0  popisuje známu hustotu uvažovanej  látky pri teplote ϑ0.



 D.Ú. : Odvoďte vzťah pre relatívnu  chybu nepriameho merania:  
a.) pre  povrchové napätie  kvapkovou metódou 11 . Vyjdite z nasledujúceho vzťahu.

$ 1 = (∂1∂m1measured)2m1measured2+ ∂1∂m2measured2m2measured2 $
b.)  pre dynamickú viskozitu meranú Stokesovou metódou∆ηη . Vyjdite z nasledujúceho vzťahu. 
 $=(∂η∂r) 2 (∆r)2 +(∂η ∂u)2 (∆u)2 +( ∂η∂ρ)2 (∆)2$

c.)  pre dynamickú viskozitu meranú Stokesovou metódou opravenou na rozmery viskozimetra  ∆ηcorrηcorr. Využite výsledky z predchádzajúcej podúlohy. Vyjdite z nasledujúceho vzťahu. 
OPRAVIŤ ROVNICU 
$∆ηcorr = (∂ηcorr∂r)2 (∆r)2+ (∂ηcorr∂u)2 (∆u)2  +  ∂ηcorr ∂ρ¯ 2 (∆¯ρ) 2 +  ∂ηcorr ∂R 2 (∆R) 2 +  ∂ηcorr ∂h 2 (∆h) 2$

## 5. Vypracovanie

In [16]:
import pandas
import numpy
import matplotlib.pyplot as plt
from math import sqrt

In [17]:
def average_value(dataframe) -> float:
    return sum(values) / len(values)

In [43]:
surface_tension_data = pandas.read_csv('data/surface_tension_of_alcohol.csv')
surface_tension_data

   MassH2O        2
0  1.34331  0.44715
1  0.94384  0.58119
2  1.45551  0.39632
3  1.25512  0.50261
4  1.35290  0.46353
5  1.47130  0.48360

In [47]:
list_water = surface_tension_data['MassH2O'].tolist()
average_water_val = average_value(list_water)

In [54]:
list_alcohol = surface_tension_data['2'].tolist()

KeyError: '2'

In [11]:
dynamic_air_viscosity = pandas.read_csv('data/dynamic_air_viscosity.csv')
dynamic_air_viscosity

   V[ml]   t[s]   h[cm]
0      4     16     2.0
1      8     30     4.0
2      8     30     1.0
3     25      9     5.0
4     27     15     4.0
5     28      7     1.0
6     25     30     6.0
7     27     15     5.0
8     27     10     3.0
9     24     28     4.5